@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:wght@300&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 1px solid #ffff;
}

/* css da página de login */

.LoginPage {
    background: #202020;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.LoginPage h1 {
    font-size: 40px;
}

.LoginPage p {
    font-size: 18px;
}

.Login-header h1,
.Login-header p {
    font-weight: 200;
    color: #ffff;
    text-align: center;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.googleBtn {
    background-image: url(./assets/Google.png);
    background-color: #ffff;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    padding: 12px 16px 12px 50px;
    border-radius: 3px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    height: 50px;
}

a {
    color: #ffff;
    font-weight: 400;
}

/* css da página home */

.HomePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 43px 20px;
}

.UserNotes {
    color: black;
    font-weight: bold;
}

.logoutBtn {
    background-image: url("./assets/Sign-out.png");
    background-repeat: no-repeat;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: -webkit-fill-available;
    margin: 0 50px 20px 50px;
}

.addBtn {
    height: 70px;
    width: 70px;
    align-self: flex-end;
    margin: 0 30px 30px 0;
    border-radius: 50%;
    background: #9E8200;
    border: none;
    background-image: url("./assets/Vector.png");
    background-repeat: no-repeat;
    background-position: 11px 12px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
}

/* css das notas */

.NotePage {
    display: flex;
    flex-direction: column;
    gap: 80px;
    min-height: 100vh;
    padding: 20px;
}

@media (max-width: 480px) {

    img {
        width: 100vw;
    }

    .UserNotes {
        font-size: x-large;
    }

    .logoutBtn {
        height: 32px;
        width: 32px;
        background-size: cover;
    }

    .notes {
        margin: 20px 30px;
    }

    .addBtn {
        height: 60px;
        width: 60px;
        background-position: center;
    }

}