.bgModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.624);
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 600px;
    width: 500px;
    padding: 1rem;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.titleModal {
    font-size: xx-large;
    margin: 8px 0;
}

.descModal {
    font-size: x-large;
    font-weight: 500;
}

hr {
    margin-top: auto;
    height: 1px;
    border: none;
    background-color: black;
}

.optionsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 10px;
}

.returnBtn {
    background-image: url(./../../../assets/Back-Arrow.png);
}

.editBtn {
    background-image: url(./../../../assets/Edit.png);
}

.deleteBtn {
    background-image: url("./../../../assets/Delete.png");
}

.returnBtn,.editBtn, .deleteBtn {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .modal {
        width: 250px;
        height: 460px;
    }

    .returnBtn,.editBtn, .deleteBtn {
        height: 30px;
        width: 30px;
    }

    .titleModal {
        font-size: x-large;
    }

    .descModal {
        font-size: larger;
    }

}

@media (min-width: 1024px) {
    .modal {
        height: 500px;
        width: 400px;
    }
}